
.badges{
    height: 25px;
   flex-direction: row;
   float: right;
   padding-right: 20px;
}
h1{
    font-family:'Playfair Display';
 font-size: 44px;   
 margin-top: 40px;
 padding-left: 30px;
}
menu{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    font-size: 30px;
    padding-right: 40px;
}
section{
padding-top: 20px;
padding-left: 40px;
font-size: 20px;
padding-bottom: 40px;
flex-direction: column;
}
.img{
    height: 120px;
    width: 120px;
}
.txt{
    font-family:'Playfair Display';
    color: 5E615E;
    padding-top: 10px;
}
.price{
 font-size: 30px;
display: flex; 
flex-direction: column;
padding-left: 35%;
margin-block-start: -23%;
}
.price2{
    align-items: center;
    margin-left: 35%;
  
}
