/* GLOBAL */
body {
    margin: 0cm;
    background-image: url(badges/IMG_0032.JPG);
    backdrop-filter: blur(7px);
    background-position: center;

   
}
/* HEADER */

header {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    letter-spacing: 0.135em;

    text-align: center;
    color: #5E615E;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #EEE6DC;
    height: 90px;
    
    
    
}

.badges {
    height: 60px;
}

.menu-item {
    color:#5E615E;
    text-decoration: none;
}

.menu-item:hover {
    opacity: .5;
}

/* COMMON STYLES */
h1 {
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 64px;
    font-weight: 700;
    
  
}
.basic {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

  
}

.basic__headline {
    box-sizing: border-box;
    position: static;
    width: 484px;
    height: 250px;
    left: 358px;
    top: 193px;
    box-sizing: border-box;
/* Text */
    background: #EEE6DC;
    border-radius: 6px;
    border-radius: 50px;
    background-color: #EEE6DC;
border: 2px solid #5E615E;

}
div{
    background: linear-gradient(180deg, #EEE6DC 67.34%, #998b7f 100%);
height: 1200px;
top: 585px;
left: 0;
max-height: 1000px;
overflow: hidden;
}
h2{ 

font-family: 'Playfair Display';
font-style: bold;
font-weight: 600px;
font-size: 60px;
line-height: 70px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.1em;
padding-right: 50px;
color:saddlebrown;
/* color */
padding-left: 1200px;
padding-top: 100px;
}
img{
   display: flex;
   position:relative;
   top: -700px;
   left: 50px;
   padding: 50px;
   filter: drop-shadow(5px 4px 20px rgba(0, 0, 0, 0.25));
   border-radius: 100px;
   height: 350px;

}
p{
    padding-left: 1000px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 56px;
    line-height: 50px;
    display: flex;
    align-items: stretch;
    text-align: right;
    letter-spacing: 0.1em;
    padding-right: 50px;
    color:#000000;
}
.Facts{
    float: right;
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 55px;
    line-height: 40px;
    top: -850px;
    align-items: baseline;
    text-align: right;
    letter-spacing: 0.02em;
    padding-right: 50px;
    text-decoration:none;
    color:saddlebrown;
    border-radius: 10px;
}
    
 .Facts:hover{
    color:antiquewhite; /* Цвет ссылки */
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: all 2s ease;
          transition: all 2s ease; /* Время изменения цвета */
 }
