body {
    background-color: #EEE6DC;
}

header {
    text-align: right;
    margin-right: 5%;
}

.badges {
    height: 30px;
    padding:10px
}
.badges:hover{
    opacity: .5;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight:normal;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 64px;
}
.vid{
    
    align-items: center;
    height: 10vh;
    padding: 10px;
    text-align: center;
}
.vid__name{
    font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: bold;
}
.vid__text{
 display: flex;
 justify-content: space-around;
 font-size: 40px;
 text-align: justify;
flex-direction: column;
}
