body {
    background: linear-gradient(180deg, #EEE6DC 67.34%, #998b7f 100%);
}

.badges {
    height: 30px;
    flex-direction: row;
    float: right;
    padding-right: 40px;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 60px;
    margin-top: 20px;
}
h2{
    font-size: 30px;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
   
}

menu {
    max-width: 100%;
    flex: 0 0 24%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    

}
.line {
    width: 100%;
    margin-top: -10px;
}
